.sectionxxx {margin-top: 40px;}
img {width: 100%}

img.logo {margin-top: 0px; margin-left: 5px; height: 80px;}
.logo-text {font-size: 80%}

ul.sidebar li {border-bottom: solid 1px #eee;}

h1 {font-size: 300%;}
h2 {font-size: 180%;}
h3 {font-size: 150%;}
h4 {font-size: 120%; font-weight: bold;}

section {padding-top: 40px; padding-bottom:40px}

.owl-carousel .owl-item img{
    height: 200px;
    padding: 10px;
}

@media print body {
    font-family: "Arial", serif;
    font-size: 1em;
    color: #333333;
    margin-top: 2cm;
    margin-right: 2cm;
    margin-bottom: 1.5cm;
    margin-left: 2cm;
}

.modal {
    min-width: 90%;
    min-height: 90%;
}
.modal .modal-content {
    padding: 2px;
}
#product .card {
    min-height: 420px;
}

