.sectionxxx {margin-top: 40px;}
img {width: 100%}

img.logo {margin-top: 0px; margin-left: 5px; height: 80px;}
.logo-text {font-size: 80%}


h1 {font-size: 260%;}
h2 {font-size: 200%;}
h3 {font-size: 120%; font-weight: bold;}
h3 {font-size: 110%; font-weight: bold;}

.parallax-container {height: 720px;}

section {min-height: 480px;}
section#parallax {min-height: 720px;}
section#parallax .parallax-text-inside{padding-top:120px; padding-bottom: 160px;}

.owl-carousel .owl-item img{
    min-height: 200px;
    padding: 10px;
}

@media print body {
    font-family: "Arial", serif;
    font-size: 1em;
    color: #333333;
    margin-top: 2cm;
    margin-right: 2cm;
    margin-bottom: 1.5cm;
    margin-left: 2cm;
}

.modal {
    min-width: 90%;
    min-height: 90%;
}
.modal .modal-content {
    padding: 2px;
}
#product .card {
    min-height: 420px;
}

